.main_div {
  background-color: lightgrey;
  border-style: solid;
  padding: 20px;
}

img {
  height: 25px;
  width: 100px;
  margin-top: -40px;
  margin-left: -20px;
  background-color: white;
}

.pe {
  color: red;

  margin-left: -10px;
}

.ena {
  margin: -2px;
  font-size: 11px;
  margin-left: 5px;
}

.ho {
  margin: 5px;
  background-color: skyblue;
  font-weight: 500;
  width: 100px;
  height: 30px;
}

.l1 {
  text-align: right;
  margin-top: -130px;
}

.hod {
  display: flex;
  text-align: right;
  margin-left: 500px;
}

.form-control {
  width: 150px;
  height: 30px;
}

.anc {
  text-decoration: none;
  color: black;
}

.full {
  background-color: darkgrey;
}

.full1 {
  margin-top: 60px;
  padding-top: 20px;
  padding-left: 10px;
}

.full2 {
  padding-left: 10px;
  padding-right: 10px;
}

.full3 {
  padding-left: 10px;
  padding-right: 10px;
}

.row1 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.row2 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.row3 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.remove-row-btn {
  height: 25px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
}

.add-row-btn {
  height: 25px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  margin-left: 790px;
}
.add-row-btn-div {
  margin-right: 200px;
}
